$color-bg: #f5e7ba;
$color-primary: #380c0d;
$color-secondary: #48191b;
$color-olive: #4e4d2e;
$color-border: #8f856d;
$krub: "Krub", sans-serif;
$Handlee: "Handlee", cursive;

// @font-face {
//   font-family: "The Seasons";
//   src: url("{{ 'The Seasons Regular.ttf' | asset_url }}") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
