.hero_heading {
  $heading-color: #380C0D;
  &__heading {
    text-align: center;

    h1 {
      margin: 0;
      color: $heading-color;
      font-family: "FONTSPRING DEMO - The Seasons", serif;
      // font-family: "The Seasons", serif;
      font-size: 16px;
      opacity: 100%;
      text-transform: uppercase;
    }
  }
}


