@use "../vars" as *;

.hero {
  background-color: $color-bg;
  padding: 12px 20px 12px 20px;

  .inner {
    max-width: 1240px;
    margin: 0px auto;

    .main-heading h1 {
      font-size: 72px;
      text-align: center;
      color: $color-primary;
      font-family: "The Seasons";
      margin: auto;
      position: relative;
      max-width: 672px;
      top: 48px;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .left {
        text-align: left;
        max-width: 32%;
        font-family: $krub;
        font-size: 20px;

        .text {
          line-height: 110%;
          padding: 0px 0px 20px 0px;
        }

        .text-bold {
          font-weight: bold;
          color: #4e4d2e;
          font-style: italic;
          line-height: 110%;
        }
      }

      .center {
        max-width: 35%;

        .image-frame {
          border: 1px solid $color-border;
          padding: 10px;
          max-width: 100%;
          border-radius: 200px 200px 0px 0px;

          img {
            aspect-ratio: 0.88;
            object-fit: cover;
            display: block;
            border-radius: 200px 200px 0px 0px;
          }
        }

        .image-caption {
          font-size: 36px;
          font-family: "The Seasons";
          text-align: center;
          line-height: 100%;
          margin: 10px 0px;
          color: $color-primary;
        }
      }

      .right {
        max-width: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .open-quote {
          width: 60px;
          height: 60px;
          position: relative !important;
          object-fit: contain !important;
          bottom: 65px !important;
        }

        .close-quote {
          width: 60px;
          height: 60px;
          object-fit: contain;
          position: relative;
          top: 60px;
          right: 10px;
        }

        .quote-text {
          font-family: $Handlee;
          font-size: 32px;
          line-height: 100%;
        }
      }
    }

    .hero-image-button {
      width: fit-content;
      margin: 25px auto 0px auto;
      padding: 16px 20px;
      border: 1px solid $color-secondary;
      border-radius: 32px;
      color: $color-secondary;
      font-size: 20px;

      &:hover {
        color: $color-bg;
        background: $color-secondary;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 20px;

    .inner {
      .main-heading h1 {
        font-size: 36px;
        top: 0;
      }

      .content {
        flex-direction: column;
        align-items: center;

        .left,
        .center,
        .right {
          max-width: 100%;
          width: 100%;
        }

        .left {
          margin: 0;
          text-align: center;
        }

        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .image-frame,
          .image-frame img {
            max-width: 500px;
            border-radius: 250px 250px 0 0;
          }
        }

        .right {
          text-align: center;

          img {
            max-width: 36px;
            max-height: 36px;
          }

          .quote {
            width: 80%;
          }

          .open-quote {
            top: -16px;
          }

          .close-quote {
            position: relative;
            top: 0px;
            right: 0px;
          }

          .quote-text {
            text-align: left;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .inner .content .center {
      .image-frame img {
        width: 100%;
      }
    }
    .right {
      .open-quote {
        position: relative !important;
        top: -24px !important;
      }

      .close-quote {
        position: relative !important;
        top: 28px !important;
        right: 22px !important;
      }
    }

    .center {
      .hero-image-button {
      width: fit-content;
      margin: 25px auto 0;
      padding: 8px 20px;
      border: 1px solid #48191b;
      border-radius: 32px;
      color: #48191b;
    }
    }
  }

  @media (max-width: 576px) {
    .inner {
      .hero-image-button {
        text-align: center;
      }

      .right {
        .open-quote {
          position: relative;
          top: -40px;
        }

        .close-quote {
          position: relative;
          top: 28px;
          right: 0px;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .inner {
      .hero-image-button {
        text-align: center;
      }

      .right {
        .open-quote {
          position: relative !important;
          top: -89px !important;
        }

        .close-quote {
          position: relative !important;
          top: 84px !important;
        }
      }
    }
  }
}
